<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= pageTitle %></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d0a301b89a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- Your common meta tags, CSS, or other header content -->
</head>
<body>
    <header>
        <img src="/asset/navbg.png" alt="" width="100%" style="position: absolute; top: 0;min-height: 512px;z-index: -1;" >
        <nav class="navbar navbar-expand-lg" style="margin-top:44px; padding: 0;">
            <div class="container-fluid d-flex justify-content-center" style="gap:30px;">
                <a href="/" style="width: 230px; height: 52px;">
                    <img src="/asset/LOGO.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a href="/categories" class="hovnav"
                            >Categories</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/toprated" class="hovnav">Top Rated</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/eatlist" class="hovnav">Eatlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= redir %>"
                            class="d-flex align-items-center justify-content-center loginmyacc"
                            
                            ><%= myacc %></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>