<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <title>My Account</title>

    <style>
        .introtext {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 37.6px;
        }

        input {
            box-sizing: border-box;
        }
    </style>

</head>

<body>
    <img class="img-fluid" src="/asset/homebg.png" alt=""
        style="position: absolute; top: 0;min-height: 512px;z-index: -1;">
    <header style="position: absolute; top: 44px;width: 100%;">
        <nav class="navbar navbar-expand-lg" style="padding: 0;">
            <div class="container-fluid d-flex justify-content-center" style="gap:30px;">
                <a href="/" style="width: 230px; height: 52px;">
                    <img src="/asset/LOGO.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a href="/categories" class="hovnav">Categories</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/toprated" class="hovnav">Top Rated</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="/eatlist" class="hovnav">Eatlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="/myaccount" class="d-flex align-items-center justify-content-center loginmyacc">My Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="intrologin">
        <!-- <div style="height: 300px;"></div> -->
        <div>
            <h1 class="introtext">Hi, <%= currentUser.username%>!</h1>
        </div>
        <div class="information-container">
            <div class="information-item">
                <span class="information-item-title">
                    <h5 class="information-title-text">Username</h5>
                </span>
                <span class="information-item-content">
                    <%= currentUser.username %>
                </span>
            </div>
            <div class="information-item">
                <span class="information-item-title">
                    <h5 class="information-title-text">Email</h5>
                </span>
                <span class="information-item-content">
                    <%= currentUser.email %>
                </span>
            </div>
            <a href="/logout" role="button" class="btn btn-dark btn-m"
                style="border-radius: 30px; background-color: black;margin-top: 1.3vw;width: 180px;">Log Out</a>
        </div>
    </section>
    <section class="createacc">
    </section>
    <footer>
        <div class="footercontainer">
            <div class="footerlogo">
                <img src="/asset/footerlogo.png" alt="" class="img-fluid">
                <img src="/asset/footerbrand.png" alt="" class="img-fluid">
            </div>
            <div class="footertext">
                <a href="/about" class="footerlink">
                    About Us
                </a>
            </div>
            <div class="itb" style="width: 500px;">
                <img src="/asset/ganesha.png" alt="" class="img-fluid">
                <div class="itbloc">
                    <h2 style="color: #FFF;
                        font-family: Poppins;
                        font-size: 23.516px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;margin: 0;">ITB Kampus Ganesha</h2>
                    <p style="color: #FFF;
                        font-family: Poppins;
                        font-size: 14.519px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;width: 326.923px;margin: 0;">Jl. Ganesa No.10, Lb. Siliwangi, Kecamatan
                        Coblong, Kota Bandung, Jawa Barat 40132</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>